<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <main>
      <h1><%= headline %></h1>
      <%- include('partials/laptimes_thead') %>
    </main>
    <%- include('partials/footer') %>
    <script defer src="<%= script %>"></script>
    <script defer src="javascript/services/navbar.js"></script>
  </body>
</html>
