<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <h1><%= headline %></h1>
    <div id="<%- id %>"></div>
    <div id="map"></div>
    <% if (preScript) { %>
      <script src="<%= preScript %>"></script>
    <% } %>
    <script defer type="module" src="<%= script %>"></script>
    <script defer src="javascript/services/navbar.js"></script>
  </body>
</html>
