<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1><%= headline %></h1>
	<%- include('partials/training_thead') %>
    <script defer src="<%= script %>" ></script>
</body>
</html>
