<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1><%= headline %></h1>
    <div id="<%- id %>"></div>
	<thead>
		<tr>
		  <th>Pos.</th>
		  <th>Name</th>
		  <th>Location</th>
		</tr>
	  </thead>
	  <tbody>
		<% drivers.forEach(driver => { %>
		  <tr>
			<td><%= driver.position %></td>
			<td><%= driver.name %></td>
			<td><img src="<%= driver.photo %>"></td>
		  </tr>
		<% }) %>
	  </tbody>
	</table>
    <script defer src="<%= script %>" ></script>
</body>
</html>
